{% extends "base.html" %}

{% block title %}Bekreftelse{% endblock %}

{% block content %}
<h1>Bekreftelse</h1>
<p>
    Du har angitt at følgende <strong>deteksjoner på datoen {{ date | datetimeformat('%-d. %B %Y') }}</strong> skal arkiveres som falske positiver:
</p>
{% if species_list %}
    <form method="post" action="/species_admin/archive?confirm=true">
        <input type="hidden" name="date" value="{{ date }}">
        {% for species in species_list %}
            <input type="hidden" name="archive_species_ids" value="{{ species.scientific_name }}">
            <ul>
                <li>
                    {{ species.common_name }} <em>{{ species.scientific_name }}</em>: {{ species.detections }} deteksjoner
                    <ul>
                        {% for detail in species.details %}
                        <li>ID: {{ detail.id }}, Location ID: {{ detail.location_id }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
        <p>
            Totalt {{ total_detections }} deteksjoner vil bli arkivert. Etter arkiveringen vil disse artene ikke lenger vises som deteksjoner på denne datoen.
        </p>
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <button type="submit" style="background-color: green; color: white; padding: 10px 20px;">Bekreft</button>
            <a href="/species_admin?date={{ date }}" style="background-color: red; color: white; text-decoration: none; padding: 10px 20px; text-align: center;">Avbryt</a>
        </div>
    </form>
{% elif false_positives %}
    <form method="post" action="/species_detections_admin/archive?confirm=true">
        <input type="hidden" name="date" value="{{ date }}">
        {% for species in false_positives %}
            <input type="hidden" name="archive_species_ids" value="{{ species.scientific_name }}">
            <ul>
                <li>
                    {{ species.common_name }} <em>{{ species.scientific_name }}</em>: {{ species.detections }} deteksjoner
                </li>
            </ul>
        {% endfor %}
        <p>
            Totalt {{ total_detections }} deteksjoner vil bli arkivert. Etter arkiveringen vil disse artene ikke lenger vises som deteksjoner på denne datoen.
        </p>
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <button type="submit" style="background-color: green; color: white; padding: 10px 20px;">Bekreft</button>
            <a href="/species_admin?date={{ date }}" style="background-color: red; color: white; text-decoration: none; padding: 10px 20px; text-align: center;">Avbryt</a>
        </div>
    </form>
{% else %}
    <p>Ingen deteksjoner er valgt for arkivering.</p>
{% endif %}
{% endblock %}