{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Deteksjoner for {{ common_name }} <em>{{ scientific_name }}</em> {{ date | datetimeformat('%-d. %B %Y') }}</h1>
<h2>
    {% if hour %}
        Mellom kl. {{ hour }} og {{ hour + 1 }} med konfidens {{ min_conf }} eller høyere
    {% else %}
        Med konfidens {{ min_conf }} eller høyere
    {% endif %}
</h2>


<!-- Lenker for navigasjon -->
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <p><a href="/show_detections?date={{ date }}" class="back-link">&larr; Deteksjoner på dato</a></p>
    <p><a href="/species_detections_admin?scientific_name={{ scientific_name }}&date={{ date }}" class="admin-link">Administrer deteksjoner &rarr;</a></p>
</div>

<div>
    {% for detection in detections %}
        <div class="detection-row">
            <!-- Venstre del: Metadata -->
            <div class="detection-metadata">
                <p><strong>Tidspunkt:</strong> {{ detection.timestamp | datetimeformat('%d. %B %Y %H:%M:%S') }}</p>
                <p><strong>Tidsrom:</strong> 
                    {% if detection.start_time and detection.end_time %}
                        Start: {{ detection.start_time }} sek, Slutt: {{ detection.end_time }} sek
                    {% else %}
                        Ikke tilgjengelig
                    {% endif %}
                </p>
                <p><strong>Lydfil:</strong> 
                    {% if detection.recording %}
                        {{ detection.recording }}
                    {% else %}
                        Ikke tilgjengelig
                    {% endif %}
                </p>
                <p><strong>Konfidens:</strong> {{ detection.confidence }}</p>
            </div>
            <!-- Høyre del: Avspiller eller melding -->
            <div class="detection-player">
                {% if detection.audio_file %}
                    <audio controls>
                        <source src="{{ detection.audio_file }}" type="audio/mpeg">
                        Nettleseren din støtter ikke lydavspilling.
                    </audio>
                {% else %}
                    <p><em>Opptak ikke tilgjengelig for denne deteksjonen.</em></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}